:root {
    --font_to_use: UbuntuMonospace;
}

@font-face {
    font-family: 'UbuntuMonospace';
    src: url('/assets/fonts/UbuntuMono-Regular.ttf') format('truetype');
}

.container {
    width: 95%;
    margin: 0 auto;
}

header {
    background: #0c5ddd;
}

body {
    font-family: var(--font_to_use);
    background-color: #0a0101;
}

p {
    color: ghostwhite;
}

h3 {
    color: ghostwhite;
    font-family: var(--font_to_use);
    font-size: 25px;
    -webkit-text-stroke: 1.8px black;
}

h1 {
    font-size: 33px;
    color: ghostwhite;
}

li {
    color: ghostwhite;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
}

nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
}

nav a:hover {
    color: black;
}

nav a::before {
    content: "";
    display: block;
    height: 8px;
    background-color: black;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

a {
	color: white;
}

.gamesContainer {
    height: 90vh;
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.cell {
    color: white;
    font-size: 3rem;
    text-align: center;
    padding: 4rem;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}